.gallery {
    margin: 10px 10px;
}

.gallery2 a{
    margin: 0 20px;
}

.gallery img {
    transition: 1s;
    padding: 20px;
    width: 300px;
    height:300px;
    object-fit:cover;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
@media only screen and (max-width: 600px) {
    .gallery img:hover {
        filter: grayscale(0);
        transform: scale(1.0);
    }
}

a {
	border-bottom: none;
}

figure {
    display: inline-block;
    margin: 10px;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: center;
}