.gallery {
    margin: 10px 10px;
}

.gallery img {
    transition: 1s;
    padding: 20px;
    width: 300px;
    height:300px;
    object-fit:cover;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

a {
	border-bottom: none;
}
